<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个普通人，一位不羁的程序员。</p>
        <p>热爱开源技术，热衷于分享，分享技术也分享生活和故事。</p>
        <p>我知道自己不是天才，所以我在用多几倍的努力去追赶天才。</p>
        <p>同样我希望有一天可以成功，也算是为这艰辛的大学时光画个句号。</p>
        <p>毕竟，人生就像程序，会不会有bug在于自身是如何coding的！</p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong>13652493839</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>
        <ul>
          <li>任学校技术团队移动互联网部部长，同时兼后台组组长</li>
          <li>乡会篮球队队长</li>  
        </ul>
        
       <h2>
         Note
       </h2>

       <ul>
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，谢谢！
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你，可以赞赏我6.66元，请我喝杯奶茶哈哈 :)
       </p>

       <p align="center">

       <img src="http://pbfnr73y8.bkt.clouddn.com/weixin.png" />
       <br/>微信扫一扫
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>